body {
    background-image: url(../img/soccermatch.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#score1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 70px;
    left: 70px;
    background-color: rgb(47, 47, 47);
    opacity: 95%;
    width: 120px;
    height:50px;
    color:white;
    text-align: center;
    
    border-top-left-radius: 1em;
    
    
    

}
#score2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    position: fixed;
    top: 70px;
    left: 270px;
    background-color: rgb(47, 47, 47);
    opacity: 95%;
    width: 120px;
    height:50px;
    color:white;
    text-align: center;
    border-top-right-radius: 1em;
    
    

    

}
#time {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: fixed;
    top:70px;
    left:190px;
    background-color: white;
    width:80px;
    height:60px;
    text-align: center;
    opacity:95%;
    padding-top: 40px;
    
    
    

}

#tvlogo {
    position: fixed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 47, 0);
    bottom: 30px;
    right: 50px;
    padding-right:20px;
    padding-left:20px;
    padding-top:-30px;
    padding-bottom:-30px;
    opacity: 96%;
    border-radius: .5em;
    
    
}

#team1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 120px;
    left: 70px;
    background-color: rgb(47, 47, 47);
    opacity: 95%;
    width: 120px;
    height:50px;
    color:white;
    text-align: center;
    border-bottom-left-radius: 1em;
    

}
#team2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 120px;
    left: 270px;
    background-color: rgb(47, 47, 47);
    opacity: 95%;
    width: 120px;
    height:50px;
    color:white;
    text-align: center;
    border-bottom-right-radius: 1em;

}

