body {
    background-image: url(gridOuch.webp);
    max-width: 1440px;
    max-width: 700px;
}



#zero {
    position: absolute;
    right:56em;
    animation-name: zeromove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
/* position absolute*/
}
@keyframes zeromove {
    0% {
        right: 56em;
        top: 7em;
    }
    50% {
        top: 37em;

    }
    87% {
        right:46em;
    }
    100% {
        right: 56em;
        top: 7em;
    }
}

/* div stle top */

/* use animations and adjust y positions like we did for css animations */ 

button {
    width: 2.5em;
    height: 2.5em;
    font-size: 1.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    
    border-radius: 2em;
}

#one {
    position: absolute;
    right: 40em;
    animation-name: onemove;
    animation-duration: 4s;
    animation-iteration-count: infinite;

} 

@keyframes onemove {
    0% {
        right: 40em;
        top: 10em;
    }
    50% {
        right:12em;
        top:20em;
        
    }
    100% {
        right: 40em;
        top: 10em;
    }
}

#two {
    position: absolute;
    right: 60em;
    animation-name: twomove;
    animation-duration: 3s;
    animation-iteration-count: infinite;


}

@keyframes twomove {
    0% {
        right: 60em;
        top: 20em;
    }
    50% {
        right:1em;
        top:12em;
        
    }
    100% {
        right: 60em;
        top: 20em;
    }
} 

#three {
    position: absolute;
    right: 65em;
    animation-name: threemove;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes threemove {
    0% {
        right: 65em;
        top: 30em;
    }
    50% {
        right:0em;
        top:30em
    }

    100% {
        
        right: 65em;
        top: 30em;
    
    }
}

#four {
    position: absolute;
    right: 37em;
    animation-name: fourmove;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes fourmove {
    0% {
        right:37em;
        top:20em;
    }
    10% {
        top:25em;
        right:30em;
    }
    25% {
        top:30em;
        right:20em;
    }
    50% {
        top: 10em;
        right:30em;
    }
    75% {
        top: 5em;
        right:17em;
    }
    100% {
        right:37em;
        top:20em;
    }
}

#five {
    position: absolute;
    right: 80em;
    animation-name: fivemove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
    

}

@keyframes fivemove {
    0% {
        right:80em;
        top:37em;
    }
    17% {
        right:64.3em;
        top:30em;
    }
    28% {
        right:70em;
        top:27em;
    }
    50% {
        right:30em;
        top:23em;
    }
    79% {
        right: 77em;
        top:50em;
    }
    100% {
        right:80em;
        top:37em;
    }
}

#six {
    position: absolute;
    right: 85em;
    animation-name: sixmove;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes sixmove {
    0%{
        right:85em;
        top:22.789em;
    }
    17% {
        right:64.2em;
        top:10em;
    }
    28% {
        right:72.6em;
        top:17.888em;
    }
    50% {
        right:42em;
        top: 25em;
    }
    77% {
        right:55em;
        top:46.7em;
    }
    100% {
        right:85em;
        top:22.789em;
    }
}

#seven {
    position: absolute;
    right: 70em;
    animation-name: sevenmove;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes sevenmove {
    0% {
        right:70em;
        top:45em;
    }
    19.4% {
        right:40em;
        top:27.7em;
    }
    37% {
        right:65.4em;
        top:5em;
    }
    63% {
        right:20em;
        top:37.3em;
    }
    89% {
        right: 52.77em;
        top:29.999em;
    }
    100% {
        right:70em;
        top:45em;
    }
}

#eight {
    position: absolute;
    right: 10em;
    animation-name: eightmove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    

}
@keyframes eightmove {
    0%{
        right:10em;
        top:10em

    }
    23% {
        right:40em;
        top:5em;
    }
    50% {
        right:8em;
        top:20em;
    }
    79% {
        right:86.8em;
        top:27em;
    }
    100% {
        right:10em;
        top:10em
    }
}

#nine {
    position: absolute;
    right: 87em;
    animation-name: ninemove;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@keyframes ninemove {
    0% {
        right:87em;
        top:10em;
    }
    50% {
        right:5em;
        top:30em;
    }
    100% {
        right:87em;
        top:10em;
    }
}

#btnDel {
    position: absolute;
    top:5em;
    right:-5em;
    width: 25em;
    height:10em;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-name: clearmove;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes clearmove {
    0% {
        right: -5em;
        top: 4em;
    }
    50% {
        right:15em;
        top:4em;
        
    }
    100% {
        right: -5em;
        top: 4em;
    }
}

#submit {
    position: absolute;
    top:12.2em;
    right:20em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 2em;
    width:4em;
    font-size: 2em;
    animation-name: submitmove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
 @keyframes submitmove {
    0% {
        right: 20em;
        top: 12.2em;
    }
    25% {
        right: 30em;
        top:20em;
    }
    50% {
        right:10em;
        top:4em;
        
    }
    75% {
        right: 40em;
        top: 17em;
    }
    100% {
        right:20em;
        top: 12.2em;
    }

} 

p {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: red;
    width:50em;
    
}

/*h1 {
    font-size: 5em;
    position: fixed;
}*/

h2 {
    position: absolute;
    top: 55em;
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 3em;
    position:fixed;
    top:5em;
}

article {
    border: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    
    
}

#box {
    width: 10em;
    height:1.7em;
    border-color:red;
    background-color: white;
}

h4 {
    position: absolute;
    top:50em;
    color: white;
}

a {
text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #333333;
  background-color: whitesmoke;
  border-radius: .5em;
  color: black;
  position: absolute;
  top:8.3em;
}

h5 {
    position:absolute;
    top:50em;
    font-size: 2em;
    left:10em;
}

/* quesions
How do I get my article to show the box before I hit a number?
I am struggling with getting my alert to trigger for when the number of digits is correct



