body {
    background-image: url(gridOuch.webp);
}

#zero {
    position: absolute;
    right:56em;
    
    
/* position absolute*/
}

/* div stle top */

/* use animations and adjust y positions like we did for css animations */ 

#one {
    position: absolute;
    right: 40em;

}

#two {
    position: absolute;
    right: 60em;

}

#three {
    position: absolute;
    right: 65em;

}

#four {
    position: absolute;
    right: 37em;

}

#five {
    position: absolute;
    right: 80em;
    top: 30em;
    

}

#six {
    position: absolute;
    right: 85em;

}

#seven {
    position: absolute;
    right: 70em;

}

#eight {
    position: absolute;
    right: 10em;

}

#nine {
    position: absolute;
    right: 87em;

}

#btnDel {
    position: absolute;
    top:30em;
    right:60em;
}

#submit {
    position: absolute;
    top:29em;
    right:60em;
}

p {
    font-size: 2em;
    color: white;
}

h1 {
    font-size: 5em;
    position: fixed;
}

h2 {
    position: absolute;
    top: 55em;
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 3em;
    position:fixed;
    top:5em;
}

article {
    border: 1em;
    
}

#box {
    width: 5em;
    border-color:red;
}

h4 {
    position: absolute;
    top:50em;
    color: white;
}

a {
text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #333333;
  background-color: whitesmoke;
  border-radius: .5em;
  color: black;
  position: absolute;
  top:8.3em;
}

h5 {
    position:fixed;
    top:-0.5em;
    font-size: 4em;
    left:3em;
}



