body {
    font-family: helvetica, sans-serif;
    width: 350px;
    background-color: grey;
    
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: #dedddd;
    color: #000000;
    padding: 10px;
    visibility: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

  .randomize {
    width: 20em;
    height: 5em;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .name {
    font-size: 3em;
    width: 10em;
  }

  #customname {
    height: 2em;
    width: 19em;
  }

  .ukUS label {
    font-size: 2em;
  }
  