  /* @media only screen and (max-width: 400px) {
    body {
        display: column;
        column-count: 1;
    }
} */



/* @media only screen and (min-width: 401px) {
    .wideScreen{
        background-color: lightblue;
    } 
} */

/* WIDE SCREEN BELOW */


img {
    width:45em;
    position: absolute;
    top: -8.5em;
    right: -13em;

}
.wideScreen h1 {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color:white
} 

body {
    background-color:#0c2339 ;
    
}


.wideScreen {
    width: 80em;
    margin-left: 2em;
    
}

.wideScreen h3 {
    width:50em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white
}

.wideScreen h2 {
    font-size: 1.16em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.wideScreen .showtime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

}

#showHeaders {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.oct14-16 {
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#showHeaders {
    font-family: Arial, Helvetica, sans-serif;
}

.oct14-16 h4 {
    font-family: Arial, Helvetica, sans-serif
}

.nov4-6 {
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2em;
}

.nov4-6 h4{
    font-family: Arial, Helvetica, sans-serif;
    
}

.dec2-4 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2em;
    
}

.dec2-4 h4{
    font-family: Arial, Helvetica, sans-serif;
}


.wideShows {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    
}

.jan13-15 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

.jan13-15 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.feb10-12 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2em;
}

.feb10-12 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.hornSection {
    margin-top: -.3em;
}

.feb24-26 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2em;
}

.feb24-26 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.mar10-12 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.mar10-12 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.mar24-26 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2em;
}

.mar24-26 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.apr21-23 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2em;
}

.apr21-23 h4 {
    font-family: Arial, Helvetica, sans-serif;
}


/* NARROW SCREEN BELOW */

/* put each concert in its own div, and put all the concerts in a parent div*/
/*display flex for parent div holding all of the concerts*/

/* for mobile: diplay column and use gap to space it out*/
